* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans";
  font-weight: 400;
}

h1 {
  font-size: 3.75rem;
  font-weight: 300;
}

h2 {
  font-size: 3.75rem;
  font-weight: 300;
}

h3 {
  font-size: 2.0625rem;
  font-weight: 300;
}

ul {
  list-style: none;
}

.navheader__link, .navheader__links:visited {
  color: #393939;
}

.nav-left {
  display: flex;
  align-items: baseline;
}

.nav-left__logo--size, .social__icons--size, .content-material__icon {
  width: 3.125rem;
}

.navheader {
  background-color: #FFF0ED;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navheader__list {
  display: flex;
  justify-content: flex-end;
}

.nav-left__link {
  text-decoration: none;
  color: #393939;
}

.navheader__links, .navheader__links--blue {
  font-size: 1.3125rem;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  margin: 2rem;
  color: #393939;
}

.navheader .navheader__links--blue {
  color: #5BACC3;
}

.bottom-card__pricing--color, .items__pricing--color {
  text-align: center;
  font-size: 1.125rem;
  font-weight: 400;
  color: #5BACC3;
  padding-bottom: 1.5625rem;
}

.info-button__background {
  height: 3.125rem;
  width: 11.25rem;
  text-align: center;
  background-color: #5BACC3;
}

.info-button__text {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.125rem solid black;
  height: 3.125rem;
  width: 11.25rem;
  position: relative;
  bottom: 3.4375rem;
  right: 0.3125rem;
}

.info-button__text:active {
  position: relative;
  bottom: 3.125rem;
  right: 0;
}

.info-button__text--transform {
  font-size: 1.125rem;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
}

h3 {
  text-align: center;
}

.hero-image {
  background-image: url("../assets/images/coffee-circle.jpg");
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 43.75rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-image__title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border: 0.3125rem solid #5BACC3;
  width: 18.75rem;
  height: 12.5rem;
  position: relative;
  top: 11.5625rem;
  right: 1rem;
}

.hero-image__title--graphite {
  width: 18.75rem;
  height: 12.5rem;
  background-color: #393939;
}

.navbar {
  color: #FFF;
  background-color: #393939;
  width: 100%;
}

.navbar__list {
  display: flex;
  justify-content: center;
}

.navbar__item {
  padding: 0.125rem 1rem;
  margin: 0.9375rem 0;
  border-left: 0.3125rem solid #5BACC3;
}

.navbar__links {
  font-size: 1.3125rem;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFF;
}

.items {
  background-color: #FFF0ED;
  margin: auto;
  text-align: center;
}

.items__title {
  padding: 1.875rem;
}

.items__description--italic {
  font-size: 1.125rem;
  font-weight: 400;
  font-style: italic;
  display: flex;
  text-align: center;
  width: 31.25rem;
  margin: auto;
}

.cold {
  background-color: #F7F7F7;
}/*# sourceMappingURL=menu.css.map */