* {
    box-sizing:border-box;
    margin:0;
    padding:0;
}

body {
    font-family:'Open Sans';
    font-weight:400;
}

h1{
    font-size:3.75rem;
    font-weight:300;
}

h2{
    font-size: 3.75rem;
    font-weight:300; 
}

h3{
    font-size:2.0625rem;
    font-weight:300;
}

ul{
    list-style:none;
}

.navheader__link , .navheader__links:visited {
    color:#393939;
}

.nav-logo{
    display:flex; 
    align-items:baseline; 
}
.nav-logo__icon--size, .social__icons--size,.content-material__icon{
    width:3.125rem;
}

.navheader{
    background-color:#FFF0ED;
    padding:1rem;
    display:flex; 
    justify-content: space-between;
    align-items:center; 
    &__list{
        display:flex;  
        justify-content:flex-end;
    }
}

.navheader
.nav-logo__title--color{
    text-decoration:none;
    color:#393939
}
.navheader__links, .navheader__links--blue{
    font-size:1.3125rem;
    font-weight:400;
    text-transform:uppercase;
    text-decoration:none;
    margin:2rem;
    color:#393939
}

.navheader .navheader__links--blue{
    color:#5BACC3 
}

.bottom-card__pricing--color , .items__pricing--color{
    text-align:center;
    font-size:1.125rem;
    font-weight:400;
    color: #5BACC3;
    padding-bottom:1.5625rem;
}

.info-button__background{
    height:3.125rem;
    width:11.25rem;
    text-align:center;
    background-color:#5BACC3;
}

.info-button__text{
    text-align:center;
    padding-top:10px;
    border: 0.125rem solid black;
    height:3.125rem;
    width:11.25rem;
    position:relative; 
    bottom:3.4375rem; 
    right:0.3125rem;
}

.info-button__text:active{
    position:relative; 
    bottom:3.125rem; 
    right:0;
}

.info-button__text--transform{
    font-size:1.125rem;
    text-transform:uppercase; 
    text-decoration:none; 
    color: #fff;
}

