
@use './variables' as*;
@use './mixins' as*;


* {
    box-sizing:border-box;
    margin:0;
    padding:0;
}

p{
    font-size:$font-regular;
}

body {
    font: {
        family:'Open Sans';
        weight:$weight-regular;
    }
}

h1 , h2{
    font: {
        size:$font-large;
        weight:$weight-light;
    }
}

h3{
    font: {
        size:$font-medium;
        weight:$weight-light;
    }
}

ul{
    list-style:none;
}

.nav-logo{
    @include flex (flex-start,baseline);
    &__title--color{
        text-decoration:none;
        color:$primary-color;
    }
}
.nav-logo__icon--size, .social__icons--size,.content-material__icon{
    width:$icon-width; 
}

.navheader{
    background-color:$primary-background;
    padding:1rem;
    @include flex(space-between,center);
    &__list{
        @include display (flex-end); 
    }
    &__links{
        font: {
            size:$nav-link;
            weight: $weight-regular;
        }
        text: {
            transform:$upper-transform;
            decoration:none;
        }
        margin:2rem;
        color:$primary-color;
        &:visited{
            color:$primary-color;
        }
        &--color{
        @extend .navheader__links;
            &:visited{
            color:$secondary-color;
            }
        } 
    }
}

.bottom-card__pricing--color , .items__pricing--color{
    text-align:center;
    font: {
        size:$font-regular;
        weight:$weight-regular;
    }
    color:$secondary-color;
    padding-bottom:1.5625rem;
}

.info-button{
    &__background{
    height:3.125rem;
    width:11.25rem;
    text-align:center;
    background-color:$secondary-color;
    }
    &__text{
    height:3.125rem;
    width:11.25rem;
    text-align:center;
    padding-top:10px;
    border: 0.125rem solid $black;
    position:relative; 
    bottom:3.4375rem; 
    right:0.3125rem;
        &:active{
        position:relative; 
        bottom:3.125rem; 
        right:0;
        }
        &--transform{
        font-size:1.125rem;
        text: {
            transform:$upper-transform; 
            decoration:none; 
        }
        color:$white;
        }
    }
}