@use "./variables"  as*;

@keyframes banner-change {
    from{
        background-color:$primary-color;
    }
    to{
        background-color:$secondary-color;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
      }
    
      100% {
        transform: rotate(360deg);
      }
}