$primary-color:#393939;
$secondary-color:#5BACC3;
$font-color:#909090;
$primary-background:#FFF0ED;
$second-background:#F7F7F7;
$white:#FFF;
$black:#000;

$weight-bold:700;
$weight-regular:400;
$weight-light:300;
$upper-transform:uppercase;

$font-large:3.75rem;
$font-medium:2.0625rem;
$font-regular:1.125rem;
$font-italic:italic;
$discount-text:2.8125rem;
$nav-link:1.3125rem;

$icon-width:3.125rem;