$primary-color:#393939;
$secondary-color:#5BACC3;
$tertiary-color:#909090;
$primary-background:#FFF0ED;
$second-background:#F7F7F7;
$white:#FFF;

$weight-bold:700;
$weight-regular:400;
$weight-light:300;
$upper-transform:uppercase;

$font-large:3.75rem;
$font-medium:2.0625rem;
$font-regular:1.125rem;
$nav-link:1.3125rem;
$font-italic:italic;

